<%- include('../layouts/header') -%>


<h1>Index</h1>

<% principles.forEach(function(principle){ %>
  <h1><%= principle.title %></h1>
  <h2><%= principle.subTitle %></h2>
  <p><%= principle.explanation %></p>
<% }) %>

<%- include('../layouts/footer') -%>
